name: Coding Standard
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  php-cs-fixer:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Run php-cs-fixer
        uses: docker://oskarstark/php-cs-fixer-ga
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_user_name: 'digitalentropybot'
          commit_user_email: 'dev@digitalentropy.co.id'
          commit_message: "bot: cs fix"
